*.pyc
.DS_Store
*~
*.sqlx
*.csv
*.tsv
*.pdf
*.swp
*.swo
*.png
scala/target/*
scala/project/*
scala/lib/*
*.idea/
dave/scalding_standalone/project/project/*
dave/scalding_standalone/project/target/*
dave/scalding_standalone/target/*
*.log
*.aux
*.nav
*.out
*.snm
*.toc
*.vrb
*.eps
*.png
*.class
*.log

scala/.history
scala/.cache/
