--- # security rules
security_rules:
{% for port in ports %}
{% for ip in cidrs %}
  -
    proto: tcp
    from_port: {{ port }}
    to_port: {{ port }}
    cidr_ip: {{ ip }}
    egress: yes
{% endfor %}
{% endfor %}
